# TODO update torch/pyG from torch==1.8 to torch==1.9 or 1.10; add +boost, +rdkit (?? if we end up using these?)
# we're using torch 1.8 for cpu. change this to gpu by running the command given at https://pytorch.org/get-started/locally/ if gpu is desired.
torch==1.10.1+cu102
torchvision==0.11.2+cu102
torchaudio==0.10.1+cu102
# we use rllib! see: https://docs.ray.io/en/latest/installation.html
ray[rllib]

# we use pyG for gnn/gcns. from https://pytorch-geometric-temporal.readthedocs.io/en/latest/notes/installation.html
#torch-scatter -f https://data.pyg.org/whl/torch-1.10.0+cpu.html
#torch-sparse -f https://data.pyg.org/whl/torch-1.10.0+cpu.html
#torch-cluster -f https://data.pyg.org/whl/torch-1.10.0+cpu.html
#torch-spline-conv -f https://data.pyg.org/whl/torch-1.10.0+cpu.html
#torch-geometric
#torch-geometric-temporal